This notebook contains code that reads in the csv file generated from the Using_Model notebook file. We then generate the f_score, precision score and recall score of the abstracted and extracted summaries compared to the original synopsis using ROUGE (Recall Oriented Understudy for Gisting Evaluation) metrics. Finally, we generate the same scores to compare the extracted and abstracted summaries in order to evaluate the model.

In [1]:
# read csv file containing asbstracted and extracted summaries as well as the original synopsis of books and movies into dataframe 
import pandas as pd

filename = 'all_summaries.csv'
df = pd.read_csv(filename)
df

,Synopsis,Extracted Summary,Abstracted Summary
0,fall pieces lara reiss drawn cradle life labyr...,locat cradl life reveal near mount kilimanjaro...,just gun shoot kill wade
1,mexico die anonymity feeling years writer won ...,bierc come mexico die anonymity feel year writ...,bierc come mexico die anonymity feel year wri...
2,tells story psychology grad student named juli...,turn mental ill caus creatur attempt consum,turn mental ill caus creatur attempt consum
3,6teen animated situation comedy children prete...,plot place entir gigant shop mall,plot place entir gigant shop mall
4,agents rocca patrovita flee room rocca cut bar...,kaminski turn shoot baxter selfdefensekaminski...,turn jason accident realiz shoot roof save death
...,...,...,...
1917,regret decision team makes world series kits r...,heat argument dotti kit dotti tell lowenstein ...,heat argument dotti kit dotti tell lowenstein...
1918,1978 kate melendez television news reporter in...,govern claim terrorist claim mere student acti...,set jolli roger posh vacat resort rich famous...
1919,sees bagi running away mother dying claw wound...,mother order contain research leav catgirl sur...,order save bird store follow
1920,tryst local sheriff griff tells stay town refe...,jailed heavi interrog griff convinc town tell ...,jailed heavi interrog griff convinc town tell...
1921,murderess tells truth situation refuses reveal...,ask selma loan declines,ask selma loan declines

In [3]:
# rename columns in dataframe and drop any 'nan' values 

df.rename(columns={'Extracted Summary':'Extracted','Abstracted Summary':'Abstracted'}, inplace=True)

df=df[df.Abstracted != '']
df=df[df.Extracted != '']
df.dropna(inplace=True)
df

,Synopsis,Extracted,Abstracted
0,fall pieces lara reiss drawn cradle life labyr...,locat cradl life reveal near mount kilimanjaro...,just gun shoot kill wade
1,mexico die anonymity feeling years writer won ...,bierc come mexico die anonymity feel year writ...,bierc come mexico die anonymity feel year wri...
2,tells story psychology grad student named juli...,turn mental ill caus creatur attempt consum,turn mental ill caus creatur attempt consum
3,6teen animated situation comedy children prete...,plot place entir gigant shop mall,plot place entir gigant shop mall
4,agents rocca patrovita flee room rocca cut bar...,kaminski turn shoot baxter selfdefensekaminski...,turn jason accident realiz shoot roof save death
...,...,...,...
1917,regret decision team makes world series kits r...,heat argument dotti kit dotti tell lowenstein ...,heat argument dotti kit dotti tell lowenstein...
1918,1978 kate melendez television news reporter in...,govern claim terrorist claim mere student acti...,set jolli roger posh vacat resort rich famous...
1919,sees bagi running away mother dying claw wound...,mother order contain research leav catgirl sur...,order save bird store follow
1920,tryst local sheriff griff tells stay town refe...,jailed heavi interrog griff convinc town tell ...,jailed heavi interrog griff convinc town tell...
1921,murderess tells truth situation refuses reveal...,ask selma loan declines,ask selma loan declines

In [5]:
# install the rouge metrics packages using pip 
!pip install rouge

Collecting rouge
  Downloading https://files.pythonhosted.org/packages/63/ac/b93411318529980ab7f41e59ed64ec3ffed08ead32389e29eb78585dd55d/rouge-0.3.2-py3-none-any.whl
Installing collected packages: rouge
Successfully installed rouge-0.3.2

In [7]:
from rouge import Rouge

# create dictionary with 18 items, each containing a list of scores
# Rouge1, Rouge2, and RougeL are used for both extracted summaries compared to synopsis and abstracted summaries compared to synopsis 
rogue_scores = {'ER1_f':[], 'ER1_p':[], 'ER1_r':[], 'ER2_f':[], 'ER2_p':[], 'ER2_r':[], 'ERL_f':[], 'ERL_p':[], 'ERL_r':[], 'AR1_f':[], 'AR1_p':[], 'AR1_r':[], 'AR2_f':[], 'AR2_p':[], 'AR2_r':[], 'ARL_f':[], 'ARL_p':[], 'ARL_r':[]}

rouge = Rouge()

for index, row in df.iterrows():
    # get f scores, precision scores and recall scores for all the extracted summaries and append to dictionary 
    scores = rouge.get_scores(row['Synopsis'], row['Extracted']) 
    
    rogue_scores['ER1_f'].append(scores[0]['rouge-1']['f'])
    rogue_scores['ER1_p'].append(scores[0]['rouge-1']['p'])
    rogue_scores['ER1_r'].append(scores[0]['rouge-1']['r'])
    
    rogue_scores['ER2_f'].append(scores[0]['rouge-2']['f'])
    rogue_scores['ER2_p'].append(scores[0]['rouge-2']['p'])
    rogue_scores['ER2_r'].append(scores[0]['rouge-2']['r'])
    
    rogue_scores['ERL_f'].append(scores[0]['rouge-l']['f'])
    rogue_scores['ERL_p'].append(scores[0]['rouge-l']['p'])
    rogue_scores['ERL_r'].append(scores[0]['rouge-l']['r'])
    
    # get f scores, precision scores and recall scores for all the abstracted summaries and append to dictionary 
    scores = rouge.get_scores(row['Synopsis'], row['Abstracted'])
    
    rogue_scores['AR1_f'].append(scores[0]['rouge-1']['f'])
    rogue_scores['AR1_p'].append(scores[0]['rouge-1']['p'])
    rogue_scores['AR1_r'].append(scores[0]['rouge-1']['r'])
    
    rogue_scores['AR2_f'].append(scores[0]['rouge-2']['f'])
    rogue_scores['AR2_p'].append(scores[0]['rouge-2']['p'])
    rogue_scores['AR2_r'].append(scores[0]['rouge-2']['r'])
    
    rogue_scores['ARL_f'].append(scores[0]['rouge-l']['f'])
    rogue_scores['ARL_p'].append(scores[0]['rouge-l']['p'])
    rogue_scores['ARL_r'].append(scores[0]['rouge-l']['r'])

In [8]:
#convert scores dictionary to dataframe 
scores_df = pd.DataFrame(rogue_scores)
scores_df

,ER1_f,ER1_p,ER1_r,ER2_f,ER2_p,ER2_r,ERL_f,ERL_p,ERL_r,AR1_f,AR1_p,AR1_r,AR2_f,AR2_p,AR2_r,ARL_f,ARL_p,ARL_r
0,0.086207,0.051546,0.263158,0.014388,0.008264,0.055556,0.053125,0.051546,0.263158,0.058824,0.030928,0.600000,0.000000,0.00000,0.000,0.031006,0.030928,0.600000
1,0.153846,0.089109,0.562500,0.057554,0.032520,0.250000,0.080874,0.079208,0.500000,0.090909,0.049505,0.555556,0.045802,0.02439,0.375,0.049863,0.049505,0.555556
2,0.022989,0.012500,0.142857,0.000000,0.000000,0.000000,0.012587,0.012500,0.142857,0.022989,0.012500,0.142857,0.000000,0.00000,0.000,0.012587,0.012500,0.142857
3,0.068966,0.037037,0.500000,0.000000,0.000000,0.000000,0.024817,0.024691,0.333333,0.068966,0.037037,0.500000,0.000000,0.00000,0.000,0.024817,0.024691,0.333333
4,0.201681,0.118812,0.666667,0.084507,0.048387,0.333333,0.101580,0.099010,0.555556,0.018349,0.009901,0.125000,0.000000,0.00000,0.000,0.009958,0.009901,0.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,0.036036,0.019417,0.250000,0.000000,0.000000,0.000000,0.019525,0.019417,0.250000,0.036036,0.019417,0.250000,0.000000,0.00000,0.000,0.019525,0.019417,0.250000
1917,0.162162,0.096774,0.500000,0.047619,0.027778,0.166667,0.099677,0.096774,0.500000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.000000
1918,0.033333,0.019608,0.111111,0.000000,0.000000,0.000000,0.020108,0.019608,0.111111,0.000000,0.000000,0.000000,0.000000,0.00000,0.000,0.000000,0.000000,0.000000
1919,0.104348,0.057143,0.600000,0.000000,0.000000,0.000000,0.048009,0.047619,0.500000,0.087719,0.047619,0.555556,0.000000,0.00000,0.000,0.038351,0.038095,0.444444
1920,0.018182,0.009434,0.250000,0.000000,0.000000,0.000000,0.009447,0.009434,0.250000,0.018182,0.009434,0.250000,0.000000,0.00000,0.000,0.009447,0.009434,0.250000

In [10]:
# get average of all the scores in each column of the dataframe and out into a new dataframe 

avg_scores_df = scores_df.mean()
avg_scores_df

ER1_f    0.149544
ER1_p    0.095971
ER1_r    0.510599
ER2_f    0.060283
ER2_p    0.039159
ER2_r    0.219833
ERL_f    0.096482
ERL_p    0.092329
ERL_r    0.485841
AR1_f    0.049135
AR1_p    0.028108
AR1_r    0.288641
AR2_f    0.015281
AR2_p    0.008808
AR2_r    0.108988
ARL_f    0.027402
ARL_p    0.026886
ARL_r    0.274377
dtype: float64

In [11]:

# create dictionary to hold rouge scores for all extracted summaries compared to abstracted summaries 

rogue_model = {'R1_f':[], 'R1_p':[], 'R1_r':[], 'R2_f':[], 'R2_p':[], 'R2_r':[], 'RL_f':[], 'RL_p':[], 'RL_r':[]}

rouge = Rouge()

for index, row in df.iterrows():
    
    scores = rouge.get_scores(row['Extracted'], row['Abstracted']) 
    rogue_model['R1_f'].append(scores[0]['rouge-1']['f'])
    rogue_model['R1_p'].append(scores[0]['rouge-1']['p'])
    rogue_model['R1_r'].append(scores[0]['rouge-1']['r'])
    
    rogue_model['R2_f'].append(scores[0]['rouge-2']['f'])
    rogue_model['R2_p'].append(scores[0]['rouge-2']['p'])
    rogue_model['R2_r'].append(scores[0]['rouge-2']['r'])
    
    rogue_model['RL_f'].append(scores[0]['rouge-l']['f'])
    rogue_model['RL_p'].append(scores[0]['rouge-l']['p'])
    rogue_model['RL_r'].append(scores[0]['rouge-l']['r'])
    
#convert scores dictionary to dataframe

model_score_df = pd.DataFrame(rogue_model)

# get average of all the scores in each column 
avg_model_score_df = model_score_df.mean()
avg_model_score_df

R1_f    0.495048
R1_p    0.466151
R1_r    0.544862
R2_f    0.474370
R2_p    0.446768
R2_r    0.520938
RL_f    0.480896
RL_p    0.466008
RL_r    0.544447
dtype: float64